@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

html {
    background-color: #F1F8E9;
}

hr {
    color: rgba(51, 51, 51, 0.5);
    max-width: 726px;
    margin: auto;
    /*fiz uma gambiarra provisória pra centralizar, coloquei margin na esquerda*/
    border: 1px solid;
}

/*HEADER*/
header {
    background-color: #2E7D32;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 247px;
    height: 95px;
    object-fit: cover;
    margin-left: 2.5rem;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.navegacao>ul>li>a {
    text-decoration: none;
    color: #F1F8E9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;

}

.navegacao>ul>li>a:hover {
    text-decoration: underline;
    transition: 0.3ms;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    color: #F1F8E9;
    cursor: pointer;
}

/*SEÇÃO INÍCIO*/
.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    padding: 4rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 66px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1042px;
    color: #333333;
}

.subtitulo {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    max-width: 837px;
    color: #333333;
}

.fale {
    background-color: #2E7D32;
    color: #F1F8E9;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    padding: 8px 25px;
    margin-top: 1rem;

}

/*SEÇÃO SOBRE*/
.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin-top: 2rem;
}

p {
    color: #333333;
    font-weight: 400;
    font-size: 2rem;
}

.para-sobre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1003px;
    margin-bottom: 1rem;
}

/*SEÇÃO DE SERVIÇOS*/
.icon {
    width: 360px;
}

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.serv1 {
    display: flex;
    flex-direction: row;
    max-width: 1017px;
    text-align: right;
}

.serv2 {
    display: flex;
    flex-direction: row;
    max-width: 1017px;
    margin-bottom: 2rem;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #2E7D32;

}

.descricao {
    font-size: 32px;
    height: 262px;
    width: 695px;
}

/*CONTATOS*/
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.contato>h4 {
    align-self: flex-start;
    margin-left: 620px;
}

/*CAIXAS DE TEXTO E FIELDSET*/
fieldset {
    background-color: #A5D6A7;
    border-radius: 12px;
    border: none;
    width: 630px;
    height: 440px;
    margin: 0.5rem;
}

textarea {
    background-color: #F1F8E9;
    width: 674px;
    height: 142px;
    border-radius: 12px;
    border: none;
    margin: 0 30px 15px 30px;
    padding: 20px 490px 20px 30px;
    resize: none;
}

textarea::placeholder {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    color: rgba(51, 51, 51, 0.51);
}

input {
    padding: 20px 490px 20px 30px;
    border-radius: 12px;
    border: none;
    background-color: #F1F8E9;
}

input[type=text] {
    margin: 40px 30px 25px 30px;
}

input[type=email] {
    margin: 0 30px 25px 30px;
}

input[type=text]::placeholder,
input[type=email]::placeholder {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    color: rgba(51, 51, 51, 0.51);
}

/*BOTOES EMBAIXO DAS CAIXAS*/
.redes-icon {
    width: 35px;
}

.div-botoes-redes {
    margin: 10px 30px;
}

.botoes-fim {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redes, .redes2, .redes3 {
    background-color: transparent;
    border: none;
}

.redes2, .redes3 {
    margin-left: 15px;
}

.botao-enviar {
    background-color: #2E7D32;
    color: #F1F8E9;
    border-radius: 12px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 35px;
    margin: 0 30px 10px 0;
}

/*FOOTER*/
footer {
    background-color: #2E7D32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.links>p,
.direitos>p {
    font-size: 24px;
    font-weight: 400;
    color: #F1F8E9;

}

.links {
    cursor: pointer;
    margin-left: 100px;
}

.direitos {
    text-align: end;
    margin-right: 80px;
}